@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Standard poem and verse CSS */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

/* Verse indentation */
p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

/* Era abbreviations */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* Italicize all blockquotes in prose */
blockquote{
	font-style: italic;
}

/* Quotations */
q{
	font-style: italic;
}

i > q{
	font-style: normal;
}

/* Headline class for Ch. 7 */
.headline{
	font-size: 1.5em;
	margin: 1em 0;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
}

/* Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-4 [epub|type~="z3998:letter"],
#chapter-5 [epub|type~="z3998:letter"]{
	font-style: normal;
}

#chapter-4 [epub|type~="z3998:salutation"],
#chapter-5 [epub|type~="z3998:salutation"]{
	padding-left: 4em;
}

#chapter-12 [epub|type~="z3998:letter"] header p:nth-of-type(1){
	text-align: right;
}

#chapter-12 [epub|type~="z3998:letter"] header p:nth-of-type(2){
	text-align: initial;
	text-indent: 5em;
}

#chapter-12 [epub|type~="z3998:letter"] header p:nth-of-type(3){
	text-align: initial;
	text-indent: 15em;
}

#chapter-12 footer p:nth-of-type(1){
	padding-right: 3em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* Dramatis personae in Ch. 9 */
[epub|type~="z3998:dramatis-personae"]{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] p{
	text-indent: 0;
}

[epub|type~="z3998:dramatis-personae"] li{
	font-style: italic;
	margin: 1em;
}

[epub|type~="z3998:dramatis-personae"] b{
	font-style: normal;
}

@supports(display: flex){
	#chapter-9 li:nth-of-type(3){
		align-items: center;
		display: flex;
		justify-content: center;
	}

	#chapter-9 li:nth-of-type(3) p:first-of-type{
		border-right: 1px solid;
		padding-right: 10px;
	}

	#chapter-9 li:nth-of-type(3) p:last-of-type{
		padding-left: 10px;
	}
}

/* Heigho blockquote in Ch. 4 */
#chapter-4 blockquote:last-of-type p{
	text-indent: 0;
}

/* Eglinton speech in Ch. 9 */
#chapter-9 div[epub|type="z3998:verse"]{
	margin-left: 4em;
	margin-top: 2em;
}

/* Centered blockquotes in Ch. 9 */
#chapter-9 blockquote:nth-of-type(4),
#chapter-9 blockquote:nth-of-type(16){
	text-align: center;
}

/* Ch. 17 budget table */
/* General styling */
#chapter-17 div table{
	/* side-by-side tables by default */
	display: inline-table;
	margin: 1em;
	width: 47%;
}

#chapter-17 table{
	border-spacing: 0;
	font-variant-numeric: tabular-nums;
}

@media(max-width: 600px){
	#chapter-17 div table{
		/* stack tables on small screens */
		display: block;
		width: 100%;
	}
}

/* All table headers */
#chapter-17 table > thead{
	font-style: italic;
	font-weight: bold;
}

/* £.s.d. headers */
#chapter-17 table > thead > tr:last-of-type{
	font-style: normal;
	text-align: right;
}

/* 'Balance' styling */
#chapter-17 table:first-of-type > tbody > tr:last-of-type > td:first-of-type{
	padding-left: 7.7em;
	text-transform: uppercase;
}

/* Width and alignment of columns of numerals */
#chapter-17 table tbody tr td:nth-of-type(2),
#chapter-17 table tbody tr td:nth-of-type(3),
#chapter-17 table tbody tr td:nth-of-type(4){
	min-width: 1em;
	text-align: right;
}

/* Padding between text and numerals */
#chapter-17 table > tbody > tr > td:first-of-type{
	padding-right: 10px;
}

/* Table footers */
#chapter-17 table tfoot tr td{
	border-top: solid 1px;
	text-align: right;
	vertical-align: bottom;
}

/* Pound symbol cells within table footers */
#chapter-17 table tfoot tr td:first-of-type{
	border-top: none;
}
/* End budget table */

/* Unordered book list in Ch. 17 */
#chapter-17 ul li{
	list-style: none;
	margin-bottom: 10px;
}

/* Center 'order of precedence' p in Ch. 17 */
#chapter-17 p:nth-of-type(300){
	text-align: center;
}

/* Drama styling for Ch. 15 */
[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

td[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] i{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}

/* Together class */
tr.together{
	break-inside: avoid;
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td + td{
	border-left: 1px solid;
}

.together + .together td[rowspan],
.together + .together td[rowspan] + td{
	padding-top: .5em;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}
/* End drama */

/* Blockquote margins for songs, verse and other non-prose paragraphs in Ch. 15 */
#chapter-15 [epub|type~="z3998:song"] p,
#chapter-15 [epub|type~="z3998:verse"] p,
#chapter-15 [epub|type~="z3998:poem"] p,
#chapter-15 .non-prose{
	margin: 1em 2.5em;
}

/* Blockquotes in Ch. 15 */
#chapter-15 blockquote{
	font-style: normal;
}

/* Multi-paragraph stage directions */
#chapter-15 tr:nth-of-type(37) p:nth-of-type(2) i::before,
#chapter-15 tr:nth-of-type(37) p:nth-of-type(3) i::before{
	content: "";
}

#chapter-15 tr:nth-of-type(37) p:nth-of-type(1) i::after,
#chapter-15 tr:nth-of-type(37) p:nth-of-type(2) i::after{
	content: "";
}
